body {
  font-size: 14px;
}

.l-wrapper {
  display: flex;
  justify-content: center;
}

.l-box {
  max-width: 900px;
  min-width: 450px;
  padding-top: 20px;
  width: 50%;
  margin-bottom: 50px;
}

.o-app-header {
  margin-bottom: 20px;
}

.o-app-header__logo {
  display: block;
  margin: 0 auto;
}

.o-app-header__title {
  text-align: center;
}

.o-app-header__author {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.o-options-section {
  border-top: 1px solid #ccc;
  margin: 40px 0;
}

.o-options-subsection {
  margin: 30px 0;
}

.o-test-box {
  background-color: #f0f5fa;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.o-test-box__header {
  font-size: 1em;
  margin: 0;
  padding: 15px 15px;
}

.o-test-box__form {
  font-size: 1em;
  margin: 0;
  padding: 0 15px 10px;
}

.pure-form .o-input-label {
  font-size: 15px;
  color: #525253;
  margin-bottom: 10px;
}

.o-input-n-btn {
  position: relative;
}

.o-input-n-btn__btn {
  position: absolute;
  bottom: 1px;
  left: 1px;
  top: 1px;
  width: 32px;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.o-input-n-btn__btn:hover {
  background-color: #f6f6f6;
}

.o-input-n-btn__btn--reset {
  background-image: url("../images/icons/icon-reset.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.pure-form input.o-input-n-btn__input {
  padding-left: 40px;
}

.o-form-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.o-validation-msg--positive {
  color: #02901a;
}

.o-validation-msg--negative {
  color: #be0101;
}

.o-form-msg {
  border-radius: 4px;
  border: 1px solid #000;
  display: none;
  margin: 20px 0 10px;
  padding: 10px 15px;
}

.o-form-msg.is-visible {
  display: block;
}

.o-form-msg--positive {
  background-color: #e6ffe9;
  border-color: #02901a;
}

.o-form-msg--negative {
  background-color: #ffe7e7;
  border-color: #be0101;
}

.o-help-table {
  margin-bottom: 20px;
}

.o-code {
  background-color: #f0f5fa;
  padding: 20px 0;
}

.o-code__comment {
  color: #888585;
}

.o-code__highlight {
  color: #0178e7;
}

.o-code__important {
  color: #000;
  font-weight: bold;
}
